
.homeBox {
  text-align: center;
  padding: 20px;
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.navItem {
  margin-right: 0; 
}

.button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}


